@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: url(../IMG/Library.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: Roboto;
}

.ContenedorTransparent {
	background: rgba(237, 237, 237, 0.6);
	width: 100%;
	margin: 15% auto;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login {
	background: rgb(255, 255, 255);
	padding: 50px;
	padding-left: 100px;
	padding-right: 100px;
	justify-content: center;
	align-items: center;
}

form {
	text-align: center;
}

.titulos {
	color: #3b3a3b;
}

.padre {
	display: flex;
	justify-content: center;
}
.panelMenu{
	margin: 10px;
}
.panelDatos{
	margin: 10px;
}